#pic {
    margin: 5px;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-direction: alternate;
}
@-webkit-keyframes example {
    0% {
        left:15px; top:20px;
            }
    25% {
        left: 100px; top: 50px;
    }
    50%{
        left: 100px;  top: 10px;
    }
    75% {
        left: 10px; top: 100px;
    }
    100% {
        left:15px; top:20px;
    }
        }

.img-container {
    /* margin: 100px auto;
    width: 100%; */
    
    width: 60%;
    margin-top: 100px;
    margin-left: 15%;
}
body {
    margin: 0;
    padding: 0;

    background-image: url(space.jpg);
}
