.introImg{
    position: relative;
    cursor: url("../images/fork-image4.png") 4 12,auto;

}
.username{
    padding: 4px;
    position: absolute;
    bottom: 220px;
    right: 41.5%;
    /* left: 50%; */
    align-items: center;
    width: 25%;
    height: 5%;
    border-radius: 15px;
    background-color: rgba(46, 41, 87, 0.514);
    box-shadow: white 1;
    color: white;
    font-size: 17px;
    cursor: url("../images/fork-image4.png") 4 12,auto;

}
#newPlayer{
    right: 47%;
    color: rgba(255, 255, 255, 0.596);
    /* cursor: pointer; */

    bottom: 150px;  
    width: 15%;
    height: 5%;  
    font-size: 20px;
}
#contBtn{
    color: rgba(255, 255, 255, 0.596);

    right: 47%;
    bottom: 100px;  
    width: 15%;
    height: 5%;  
    font-size: 20px;
    /* cursor: pointer; */

}
/* cursor{
    width: 50px;
    height: 50px;
} */

#warning{
    /* position: absolute; */
    padding-top: 25px;
    color: red;
    right: 36.5%;
    bottom: 50px;
    background-color: unset;
    font-size: 13px;
}
#title{
    bottom: 400px;
    right: 42%;
    font-size: 50px;
    background-color: unset;
    font-family: 'Times New Roman', Times, serif;
    color: royalblue;
}
.hide{
    display: none;
}
.scores{
    /* rgba(92, 140, 202, 0.493) */
    border-bottom: 2px solid rgba(241, 244, 248, 0.39) ;
    border-right: 2px solid rgba(241, 244, 248, 0.39) ;
    width: 13%;
    padding: 0.5%;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    border-radius:7px ;
   box-shadow: 2px 2px rgba(86, 163, 140, 0.555);
   background-color: rgba(14, 7, 68, 0.336) ;

}
i{
    color:rgba(242, 245, 248, 0.582) ;
}
.num {
    padding-left: 2px;
    color:rgba(242, 245, 248, 0.582) ;
}



