
body {

    background-image: url('../images/space.jpg');

}
.game {
    width: 900px;
    height: 800;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
}
.chichen {
    width: 50px;
    padding: 20px;
}
#hero {
    background-image: url("../images/player.png");
    width: 98px;
    height: 75px;
    position: absolute;
   
}

